<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>👉A person who is playing with  technologies</p>
        <p> 👾 Founding solutions to fix real-world problems</p>
      </div>
      <div class="col-lg-4">
          <p>❤️ In love with Java, Groovy, JavaFX and DS.<br>
          <p>🎗️ Excited to work with the help of DS & Algo
          <p>🔖 Inquisitive to working with JUG</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/cmsk-jav" target="_blank" class="btn btn-lg btn-outline">
          <i class="fa fa-dragon"></i> Github Profile
        </a>
      </div>
    </div>
  </div>
</section>
